@media only screen and (max-width: 500px){
    .users-row{
        display: block;
        /* background-color: aqua; */
    }
    /* .role-heading{
        position: relative;
        left: 3em;

    } */
}